@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cairo', sans-serif;
  background-color: #faf7f4;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
}

.dark body {
  background-color: #111827;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
